arrow==0.12.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
dash==0.35.0
dash-bootstrap-components==0.2.7
dash-core-components==0.42.0
dash-html-components==0.13.4
dash-renderer==0.16.1
dash-table==3.1.11
decorator==4.3.0
Flask==1.0.2
Flask-Compress==1.4.0
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.1.0
nbformat==4.4.0
numpy==1.15.4
pandas==0.23.4
plotly==3.4.2
psycopg2==2.7.6.1
python-dateutil==2.7.5
pytz==2018.7
redis==3.0.1
requests==2.21.0
retrying==1.3.3
rq==0.13.0
rq-dashboard==0.3.12
six==1.12.0
SQLAlchemy==1.3.0
traitlets==4.3.2
urllib3==1.24.2
Werkzeug==0.14.1
